@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;0,900;1,400;1,600&family=Raleway:wght@400;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    
    display: flex;
    padding: 1%;
    box-shadow: 0px 0px 10px rgb(219, 219, 219);
    justify-content: space-between;
    align-items: center;

}

.logo{
    margin: 0 auto 0px 0;
}
